body {
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif; }

.container {
  width: 100%;
  margin: 0;
  padding: 0; }

#mainContent {
  margin: 0;
  padding: 0;
  background-image: url("/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#header {
  background-color: #025f9a;
  height: 70px;
  text-align: center;
  margin: 0; }
  #header #logo {
    height: 100px;
    width: 100px;
    padding-bottom: 30px; }

.hero {
  margin-top: 100px; }
  .hero h1 {
    color: #fff;
    text-align: center;
    font-size: 4.8em;
    letter-spacing: 1px; }
  @media (max-width: 400px) {
    .hero {
      margin-top: 50px; }
      .hero h1 {
        font-size: 3.2em; } }

.subheader h4 {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 70px;
  font-size: .9em;
  letter-spacing: 1px; }
@media (max-width: 400px) {
  .subheader h4 {
    font-size: .7em;
    margin-bottom: 40px; } }

#triangle {
  background-color: #fff;
  background-position: center;
  width: 60px;
  height: 30px;
  margin: 0 auto;
  text-align: center; }
  #triangle > img {
    padding-top: 30%; }

form .indented {
  text-indent: 15px; }
form h3 {
  margin-top: 0px;
  font-family: Montserrat, sans-serif;
  font-weight: 600; }
form #mainForm {
  position: relative;
  background-color: #fff; }
  form #mainForm #mainCheck {
    float: left;
    height: 15px;
    width: 15px;
    margin-top: 6px;
    margin-right: 5px; }
  form #mainForm h5 {
    color: #78715b; }
  form #mainForm .editSection {
    display: inline-block;
    cursor: pointer; }
  form #mainForm input {
    cursor: pointer; }
  form #mainForm .inputCol {
    padding-top: 20px; }
  form #mainForm #formInputs {
    padding: 30px 30px 20px; }
    form #mainForm #formInputs .mainInputs {
      margin-bottom: 35px; }
    form #mainForm #formInputs input {
      width: 100%;
      height: 40px;
      margin-top: 8px;
      padding-left: 15px;
      border: 1px solid #626f64 !important; }
      form #mainForm #formInputs input:focus {
        outline: 2px solid #5ab29f; }
    form #mainForm #formInputs ::-webkit-input-placeholder {
      color: #7f7f7f;
      font-size: 0.7em; }
    form #mainForm #formInputs .activeCheck {
      background-image: url("../images/check.png");
      background-repeat: no-repeat;
      background-size: 15px 15px;
      background-position: 4% 50%; }
    @media (min-width: 768px) {
      form #mainForm #formInputs .state-zip-cols .state {
        padding-right: .2em; }
      form #mainForm #formInputs .state-zip-cols .zip {
        padding-left: .2em; } }
  form #mainForm .rightAlign {
    text-align: right; }
    form #mainForm .rightAlign h5 {
      font-size: 0.6em;
      color: #626f64; }
form .nextQuestion {
  margin-top: 40px;
  position: absolute;
  bottom: 0;
  width: 100%; }
  form .nextQuestion button:focus {
    outline: none; }
  form .nextQuestion button {
    width: 100%;
    border: none;
    border-radius: 0px;
    background-color: #5ab29f;
    letter-spacing: 1px;
    font-size: 0.8em; }
form #whyYou {
  background-color: #fff;
  margin-top: 20px;
  min-height: 50px; }
  form #whyYou h5 {
    padding-bottom: 10px;
    font-size: 0.8em; }
  form #whyYou.inactive {
    opacity: 0.8;
    color: #626f64 !important; }
  form #whyYou.active {
    opacity: 1; }
  form #whyYou h3, form #whyYou h5 {
    padding-left: 15px; }
  form #whyYou .form-heading {
    padding: 20px 20px 0; }
  form #whyYou .form-inputs {
    padding: 0 20px 45px; }
    form #whyYou .form-inputs label {
      border: 2px solid #5ab29f;
      text-align: center;
      width: 100%;
      height: 40px;
      letter-spacing: 1px;
      font-size: .8em;
      display: table; }
      form #whyYou .form-inputs label input[type="radio"] {
        visibility: hidden;
        width: 10px; }
      form #whyYou .form-inputs label span {
        display: table-cell;
        vertical-align: middle;
        width: 100%; }
    form #whyYou .form-inputs label:hover {
      background-color: #5ab29f;
      color: #fff;
      cursor: pointer; }
    form #whyYou .form-inputs .selected {
      background-color: #5ab29f;
      color: #fff;
      cursor: pointer; }
  form #whyYou .form-inputs {
    margin-top: 20px; }

.submitButton {
  text-align: center;
  margin-top: 20px; }
  .submitButton button:focus {
    outline: none; }
  .submitButton > button {
    border: 0px;
    border-radius: 0;
    width: 200px;
    height: 37px;
    background-color: #5ab29f;
    letter-spacing: 1px; }

.footer {
  margin-top: 70px;
  margin-bottom: 400px;
  text-align: center;
  color: #fff;
  font-size: .6em;
  letter-spacing: 0.5px; }

/*# sourceMappingURL=style.css.map */
