
@import "components/header";
@import "components/heroText";
@import "components/subHeader";
@import "components/mainForm";
@import "components/inactiveForm";
@import "components/submitButton";


body {
	margin: 0;
	height: 100%;
	background-image: url(/images/background.png);
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 100%;
	margin: 0;
	
}