.hero {
	margin-top: 100px;

	h1 {
		color: $white;
		text-align: center;
		font-size: 4.4em;
		letter-spacing: 1px;
	}

	@media (max-width: 400px) {
		margin-top: 50px;

		h1 {
			font-size: 3.2em;
		}
	}
}