

#triangle {
	background-color: #fff;
	position: center;
	width: 60px;
	height: 30px;
	margin: 0 auto;
	text-align: center;

	> img {
		padding-top: 30%
	}

}

#mainForm {
	background-color: #fff;
	min-height: 370px;
	position: relative;

	h5 {
	color: #78715b;
	}

	input {
	cursor: pointer; 
	cursor: hand;
	}

	.inputCol {
	padding-top: 20px;
	}

#formInputs {
		padding: 20px 20px 0
}

::-webkit-input-placeholder { 
  color: 7f7f7f;
  font-size: 0.7em;
}

	input {
		width: 100%;
		height: 40px;
		margin-top: 5px;
		text-indent: 30px;
	}

	.activeCheck {
		background-image: url('../images/check.png');
		background-repeat:no-repeat;	
		background-size: 15px 15px;
		background-position: 4% 50%;
	}


	input:focus {
		outline: 2px solid #5ab29f;
	}

	h3 {
		margin-top: 0px;
		font-family: Montserrat;
		font-weight: 600;
	}

	.rightAlign {
		text-align: right;
		
		h5 {
			font-size: 0.6em;
			color: #d9d9d9;
		}
	}


	#nextQuestion {
		margin-top: 40px;
		position: absolute;
		bottom: 0;
		width: 100%;

		button:focus {
			outline: none;
		}

		button {
			width: 100%;
			border: 0px;
			border-radius: 0;
			background-color: #5ab29f;
			letter-spacing: 1px;
			fonr-size: 0.8em;

		}
	}
}


