.submitButton {
	text-align: center;
	margin-top: 20px;

	button:focus {
		outline: none;
	}

	> button {
	border: 0px;
	border-radius: 0;
	width: 200px;
	height: 40px;
	background-color: #5ab29f;
	letter-spacing: 1px;
	}
}