.submitButton {
	text-align: center;
	margin-top: 20px;

	button:focus {
		outline: none;
	}

	> button {
		border: 0px;
		border-radius: 0;
		width: 200px;
		height: 40px;
		background-color: $teal;
		letter-spacing: 1px;
	}
}