body {
	margin: 0;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 100%;
	margin: 0;
	padding: 0;
}

#mainContent {
	margin: 0;
	padding: 0;
	background-image: url('../images/background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 15%;
}